{% include base_path %}

<meta charset="utf-8">

{% include seo.html %}

<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ base_path }}/feed.xml{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/main.css">

<meta http-equiv="cleartype" content="on">

<link rel="stylesheet" href="{{ base_path }}/assets/css/all.css">

<meta name="author" content="Yanhan (Savannah) Tang">
<meta name="keywords" content="Yanhan Tang, Savannah Tang, Yanhan (Savannah) Tang, 唐雁寒, Tsinghua, Tepper School of Business, CMU, Carnegie Mellon University, Machine Learning, Operations Management, Operations Research, Marketing, Research, Management Science, Split Liver Transplantation, INFORMS">